<!DOCTYPE html>
<html>
  <head>
    <title>Datafest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/datepicker.css" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/chartkick.js"></script>

    <style>
      #application { margin:7em auto 4em; }
      .well h3     { margin:0; }
      footer       { margin:4em 0 0; }
    </style>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left form-inline" role="search" action="/" method="GET">
            <div class="input-daterange" id="datepicker">
              <label for="">Filtrar por fecha:</label>
              &nbsp;
              Desde
              <input type="text" style="width: 100px" class="form-control" name="desde" value="<%= params[:desde] %>" />
              &nbsp;
              Hasta
              <input type="text" style="width: 100px" class="form-control" name="hasta" value="<%= params[:hasta] %>"  />
              <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/entidades">Entidades</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sobre la aplicacion <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Miembros del equipo</li>
                <li><a href="#">Adrian Pino</a></li>
                <li><a href="#">Alejandro Di Meglio</a></li>
                <li><a href="#">Diego Peralta</a></li>
                <li><a href="#">Diego Tripodi</a></li>
                <li><a href="#">Elena Brizuela</a></li>
                <li><a href="#">Fernando Ruiz</a></li>
                <li><a href="#">Gerardo Gera</a></li>
                <li><a href="#">Jorge Lerche</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="application" class="container">

      <div class="jumbotron">
        <h2>Gasto Nacional en Pauta Oficial</h2>
        <p class="lead">Datos publicados por la <strong>Jefatura de Gabinete de Ministros</strong> sobre la inversi칩n en publicidad oficial por proveedor y tipo de medio. Informaci칩n desde Diciembre de 2008, estructurada por raz칩n social, tipo de medio y total general.</p>
      </div>
    
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Estadisticas generales del periodo</h3>
          </div>

          <div class="col-lg-3">
            <div class="well well-small text-center">
              <small class="text-muted">TOTAL GASTADO</small>
              <h3><%= number_to_currency @registros.sum(:monto).to_i, precision: 1, delimiter: '.', strip_insignificant_zeros: true  %></h3>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="well well-small text-center">
              <small class="text-muted">TOTAL DE ENTIDADES</small>
              <h3><%= @registros.pluck("DISTINCT razon_social").count %></h3>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="well well-small text-center">
              <small class="text-muted">RUBRO MAYOR BENEFICIADO</small>
              <h3><%= @registros.group('medio').sum(:monto, order: 'SUM(monto) DESC').first.first %></h3>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="well well-small text-center">
              <small class="text-muted">ENTIDAD MAYOR BENEFICIADA</small>
              <h3>
                <%= @registros.group('razon_social').sum(:monto, order: 'SUM(monto) DESC').first.first %> 
                <small class="text-muted">
                  ($<%= number_to_human @registros.group('razon_social').sum(:monto, order: 'SUM(monto) DESC').first.last.to_i, units: {million: 'M'} %>)
                </small>
              </h3>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Evolucion del gasto por tipo pauta</h3>
          </div>

          <%= line_chart [
            { name: 'Television',  data: @registros.where(medio: 'television').group_by_year(:periodo).sum(:monto)  },
            { name: 'Radio',       data: @registros.where(medio: 'radio').group_by_year(:periodo).sum(:monto)      },
            { name: 'Grafica',     data: @registros.where(medio: 'grafica').group_by_year(:periodo).sum(:monto)    },
            { name: 'Web',         data: @registros.where(medio: 'web').group_by_year(:periodo).sum(:monto)        },
            { name: 'Via Publica', data: @registros.where(medio: 'via publica').group_by_year(:periodo).sum(:monto) }
          ] %>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="page-header">
            <h3>Entidades que m&aacute;s dinero recibieron</h3>
          </div>
          <ul class="list-group">
            
            <% @registros.group('razon_social').sum(:monto, order: 'SUM(monto) DESC').first(10).each do |medio, monto| %>

            <li class="list-group-item">
              <span class="badge badge-info"><%= number_to_currency monto.to_i, precision: 1, delimiter: '.', strip_insignificant_zeros: true %></span>
              <a href="#" data-toggle="modal" data-target="#<%= medio.parameterize %>"><%= medio %></a>

              <!-- .modal -->
              <div id="<%= medio.parameterize %>" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"><%= medio %></h4>
                    </div>
                    <div class="modal-body">
                      <h4>Evolucion del monto por a침o</h4>
                      <%= line_chart [{ name: medio, data: @registros.where(razon_social: medio).group_by_year(:periodo).sum(:monto)  }] %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </li>

            <% end %>
           
          </ul>
          <a href="#" class="btn btn-primary">Ver todas las entidades &rarr;</a>
        </div>
        <div class="col-lg-6">
          <div class="page-header">
            <h3>Porcentaje sobre el presupuesto total</h3>
          </div>
          <%= pie_chart @registros.group('razon_social').sum(:monto, order: 'SUM(monto) DESC').first(10) %>
        </div>
      </div>
      
      <!-- 
      <br>
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Evolucion del gasto durante el periodo</h3>
          </div>
          <div id="chart_div2" style="width:100%; height:400px;"></div>
        </div>
      </div> 
      -->

      <hr>

      <footer class="text-center">
        <p>
          Orgullosamente desarrollado en el <br><br>
          <img src="/images/header.jpg" width="350" alt="">
        </p>
        <br>
        <p>
          <span class="glyphicon glyphicon-cloud-download text-info"></span> 
          Descargate el dataset en formato: <a href="/dataset.csv">CSV</a> &mdash; <a href="/dataset.sql">SQL</a>
        </p>
      </footer>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
      $('#datepicker').datepicker({
        format: "mm-dd-yyyy",
        startDate: "01-01-2000",
        endDate: "12-01-2008",
        startView: 1,
        minViewMode: 1,
        calendarWeeks: true
      });
      $('.modal').on('shown.bs.modal', function () {
        $(window).trigger('resize');
      });
    </script>
  </body>
</html>
